@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
}body{
    margin: 0;
    height: calc(auto+100px);
    background: #131927;
    font-family: "roboto";
}
body::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 3px;
}
.fclr,a{
    color:#c2c1c0;
}
.fclr:hover{
    color:white;
    cursor: pointer;
    display: grid;
}

.navbar{
    width: 94vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 100%;
    margin-top: -10px;
}
#left_part{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#left_part img{
    width: 20%;
}
#right_part{
    display: flex;
    align-items: baseline;
}
#right_part input{
    width: 15vw;
    background-color: transparent;
    border: none;
    color:#c2c1c0;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.5s;
    border-bottom:1px solid white;
}
#right_part i{
    position: absolute;
    right:225px;
    top:28px;
    color:rgba(255, 255, 255, 0.342);
}

#right_part input:focus{
    outline: none;
    width: 25vw;
    border-color:#1F80E0;
}
#right_part input::placeholder{
    color: #c2c1c0;
}

#right_part button{
    background-color: #1F80E0;
    color: white;
    border:none;
    font-weight: 700;
    padding: 5px 10px;
    margin:0 20px;
    border-radius: 0.2rem;
}
.ul-movies,.ul-sports,.ul-tv{
    display: none;
    position: absolute;
    top:10vh;
    background-color: #192133;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
}

.ul-movies{
    z-index: 13;
    left: 21vw;
}
.ul-sports{
    z-index: 14;
    left: 27vw;
}
.ul-tv{
    z-index: 12;
    left: 15vw;
}
.ul-sports a, .ul-movies a, .ul-tv a{
    color: white;
    font-size: 15px;
    line-height: 16px;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 20px;
    
}
.ul-sports a:hover, .ul-movies a:hover, .ul-tv a:hover{
    background-color: #0c121b;
}
.search-results{
    display: none;
    width: 25vw;
    z-index:20;
    position: absolute;
    top: 10vh;
    right: 16vw;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0c121b;
    cursor: pointer;
}
#append-result{
    width: 100%
}
.result{
    display: flex;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    justify-content: space-between;
    background-color: #192133;
}
.result img{
    width: 35%;
    height: 100px;
}
.result > p{
    width: 55%;
    margin-right: 5%;
}
.movie_name{
    font-size: 18px;color: rgba(255, 255, 255, 0.815);
}
.movie_type,.movie_year{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.479);
}
.more{
    background-color: #192133;
    color: white;
    font-size: 14px;
    padding: 7px;
    text-align: center;
}
#signin{
    width: 98vw;
    height:100vh;
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.536);
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
}
.login_page{
    width: 33%;
    aspect-ratio: 1;
    background-color: #161E2E;
    border-radius: 5px;
    color:white;
}
#close{
    font-size: 35px;
    float: right;
    padding: 8px 15px;
    user-select: none;
}

.content{
    width: 75%;
    height: 70%;
    margin:20% auto 10% auto;
    display: grid;
}
.content p{
    font-size: 18px;
}
.content button{
    width: 100%;
    margin: auto;
    padding:15px;
    border-radius: 5px;
    background-color:#16273F;
    color:#1F80E0;
    border:1px solid #1F80E0;
    font-size: 16px;
    font-weight: bold;
    margin-top:-10px;
}
.fill_number{
    border-bottom: 1px solid #1F80E0;
    height: min-content;
    font-size: 17px;
}
.fill_number input{
    color:white;
    background-color: transparent;
    font-size: 17px;
    border:none;
    outline:none;
    font-weight: 600;
    margin-bottom: 5px;
    
}